<h1>口コミ</h1>
 <%= form_with model:  @comment, url: comments_path(foodstall_id: params[:foodstall_id]), method: :post, local: true do |form| %>
 <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
 <%= form.submit "SEND" %>
<%end%>