// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-comment{
  text-align: center;
  background-image: url(new-store1.jpg);
  background-size: 100% 100%;
  height: 100vh;
}
.comment-title{
  margin-bottom: 60px;
}
.comment-area{
  margin-top: 90px;
}
.comment-area::placeholder{
  font-size: 90px;
}
.comment-send{
  margin-top: 30px;
}
.comment-btn{
  width: 110px;
  height: 30px;
}