// Place all the styles related to the foodstalls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*--index.html.erb--*/
.header-index{
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 70vh;
  text-shadow: 0 0 100px rgba(252, 252, 1, 1);
}
.main{
  position: absolute;
  top :10px;
}
.home-title {
  position: absolute;
  top: 150px;
  left: 250px;
  font-size: 40px;
  color: black;
  padding-left: 100px;
  text-shadow: 0 0 20px rgba(252, 252, 252, 1);
}
.home-text h2{
  font-family: cursive;
}
dl.keyword{
  width: 400px;
  position:relative;
  background-color:#fff;
  border:1px solid #aaa;
  border-radius:6px;
  margin-left: 500px;
  margin-top: 200px;
  position: absolute;
  top: 170px;
  right: 525px;
}
dl.keyword dt{
  padding:3px;
}
dl.keyword dt input{
  width:70%;
  height:30px;
  line-height:30px;
  background:none;
  border:none;
}
dl.keyword dd{
  position:absolute;
  top:0px;
  right:0px;
  width:20%;
}
.keyword-btn{
  display:block;
  background:#5fad35;
  width:100%;
  height:65px;
  line-height:36px;
  border:none;
  border-radius: 0 6px 6px 0;
  color:#FFF;
}
.keyword-btn:hover {
  background:#228B22;
  bottom: 6px;
}
.keyword-bottom{
  margin-left: 450px;
  position: absolute;
  top: 460px;
  left: 45px;
  color: #FFF;
  border: solid 1px white;
}
.keyword-b{
  background:#5fad35;
  height:20px;
  line-height:20px;
  border:none;
  border-radius: 0 6px 6px 0;
  color:#FFF;
}
.home-text{
  margin-top: 100px;
}
.home-text-header{
  padding-left: 29%;
}
.home-text-a{
  padding-left: 22%;
}
.home-text-b{
  padding-left: 30%;
}
.home-description-title{
  padding-left: 44%;
  padding-top: 90px;
}
.home-description{
  display: flex;
  justify-content: space-around;
}
.home-description-left h2 {
  padding-left: 25%;
}
.home-description-center h2 {
  padding-left: 25%;
}
.home-description-right h2 {
  padding-left: 35%;
}
.image-left{
  padding-top: 20px;
  width: 400px;
  height: 300px;
}
.image-center{
  padding-top: 20px;
  width: 400px;
  height: 300px;
}
.image-right{
  padding-top: 20px;
  width: 400px;
  height: 300px;
}
.home-ranking{
  padding-left: 600px;
  padding-top: 200px;
}
.ranking{
  display:flex;
  justify-content: space-around;
}
.image-tokyo{
  width: 150px;
  height: 150px;
}
.ranking-top{
  margin-top: 100px;
  
}
.ranking-title{
  margin-left: 43%;
}
.ranking-shop_name{
  display: flex;
  justify-content: space-around;
}
/*--search.html.erb--*/
.list-search{
  text-align: center;
}
.list{
  position: relative;
  text-align: center;
  text-shadow: 1px 2px 3px #808080;
}
.list-title{
  position: relative;
  left: 15%;
  bottom: -20px;
}
.list-title-name{
  color: black;
  
}
.list-category{
  position: relative;
  padding-left: 30%;
  bottom: -20px;
}
.list-perfecture{
  position: relative;
  padding-left: 30%;
  bottom: -20px;
}
.list-text{
  position: relative;
  text-align: right;
  padding-right: 130px;
  bottom: 100px;
}
.images{
  position: relative;
  padding-right: 35%;
  bottom: 220px;
  width: 200px;
  height: 150px;
}
.search-back{
  position: relative;
  text-align: center;
}
.search-back-name{
  color: black;
}
/*--new.html.erb--*/
.container{
  padding-top: 20px;
  text-align: center;
  font-size: 50px;
}
.img-upload{
  text-align: center;
}
.new-group{
  background-image: url(new1.jpg);
}
.image_input_btn{
  display: block;
  background-color: #228B22;
  width: 180px;
  height: 30px;
  margin-top: 10px;
  margin-left: 44%;
  border-radius: 5px;
  padding-top: 2px;
  color: white;
  text-decoration: none;
  text-align: center;
}
.image_form{
  display: none;
}
#image-list{
  text-align: center;
  display: flex;
  max-width:30%;
  max-height: 30%;
}
/*--
slect-bottan
--*/
.form-group{
  text-align: center;
}
.form-title{
  width: 20%;
}
.form-text{
  width: 30%;
  height: 150px;
}
.form-shop_name{
  width: 10%;
  height: 15px;
  font-size: 13px;
}
.form-post_code{
  width: 6%;
}
.form-prefecture{
  width: 5%;
  height: 9%;
}
.form-phone-number{
  width: 8%;
}
.foodstall-bottom{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.foodstall-bottan{
  width: 9%;
  height: 40px;
  background-color: #228B22;
  font-size: 20px;
  color: #fff;
}
.nav-link{
  font-size: 20px;
  color: black;
  text-shadow: 1px 2px 3px #808080;
  margin-right: 20px;
}
/*--show.html.erb--*/

.foodstall-show-image{
  display: flex;
  justify-content: center;
  width: 30%;
  margin-top: 90px;
  margin-bottom: 150px;
  margin-left: 35%;
}
.foodstall-show-title{
  text-align: center;
}
.average-raty{
  text-align: center;
}
.footstall-category{
  text-align: center;
}
.foodstall-title{
  text-align: center;
}
.foodstall-text{
  text-align: center;
}
.addresses{
  display: flex;
  justify-content: center;
  font-size: 25px;
}
.calendar{
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.foodstall-show-phone_number{
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
.show-comment{
  text-align: center;
}
.show-root_back{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.show-back{
  color: black;
  font-size: 30px;
}