// Place all the styles related to the foodstalls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*--index.html.erb--*/
.header-index{
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 70vh;
  text-shadow: 0 0 100px rgba(252, 252, 1, 1);
}
.main{
  position: absolute;
  top :10px;
}
.home-title {
  position: absolute;
  top: 150px;
  left: 250px;
  font-size: 40px;
  color: black;
  padding-left: 100px;
  text-shadow: 0 0 20px rgba(252, 252, 252, 1);
}
.home-text h2{
  font-family: cursive;
}
dl.keyword{
  width: 400px;
  position:relative;
  background-color:#fff;
  border:1px solid #aaa;
  border-radius:6px;
  margin-left: 500px;
  margin-top: 200px;
  position: absolute;
  top: 170px;
  right: 525px;
}
dl.keyword dt{
  padding:3px;
}
dl.keyword dt input{
  width:70%;
  height:30px;
  line-height:30px;
  background:none;
  border:none;
}
dl.keyword dd{
  position:absolute;
  top:0px;
  right:0px;
  width:20%;
}
.keyword-btn{
  display:block;
  background:#5fad35;
  width:100%;
  height:65px;
  line-height:36px;
  border:none;
  border-radius: 0 6px 6px 0;
  color:#FFF;
}
.keyword-btn:hover {
  background:#228B22;
  bottom: 6px;
}
.keyword-bottom{
  margin-left: 450px;
  position: absolute;
  top: 460px;
  left: 45px;
  color: #FFF;
  border: solid 1px white;
}
.keyword-b{
  background:#5fad35;
  height:20px;
  line-height:20px;
  border:none;
  border-radius: 0 6px 6px 0;
  color:#FFF;
}
.home-text{
  margin-top: 100px;
}
.home-text-header{
  padding-left: 29%;
}
.home-text-a{
  padding-left: 22%;
}
.home-text-b{
  padding-left: 30%;
}
.home-description-title{
  padding-left: 44%;
  padding-top: 90px;
}
.home-description{
  display: flex;
  justify-content: space-around;
}
.home-description-left h2 {
  padding-left: 25%;
}
.home-description-center h2 {
  padding-left: 25%;
}
.home-description-right h2 {
  padding-left: 35%;
}
.image-left{
  padding-top: 20px;
  width: 400px;
  height: 300px;
}
.image-center{
  padding-top: 20px;
  width: 400px;
  height: 300px;
}
.image-right{
  padding-top: 20px;
  width: 400px;
  height: 300px;
}
.home-ranking{
  padding-left: 600px;
  padding-top: 200px;
}
.ranking{
  display:flex;
  justify-content: space-around;
}
.image-tokyo{
  width: 150px;
  height: 150px;
}
.ranking-top{
  margin-top: 100px;
  
}
.ranking-title{
  margin-left: 43%;
}
.ranking-shop_name{
  display: flex;
  justify-content: space-around;
}
/*--search.html.erb--*/
.list-search{
  text-align: center;
}
.list{
  position: relative;
  text-align: center;
  text-shadow: 1px 2px 3px #808080;
}
.list-title{
  position: relative;
  left: 15%;
  bottom: -20px;
}
.list-title-name{
  color: black;
  
}
.list-category{
  position: relative;
  padding-left: 30%;
  bottom: -20px;
}
.list-perfecture{
  position: relative;
  padding-left: 30%;
  bottom: -20px;
}
.list-text{
  position: relative;
  text-align: right;
  padding-right: 130px;
  bottom: 100px;
}
.images{
  position: relative;
  padding-right: 35%;
  bottom: 220px;
  width: 200px;
  height: 150px;
}
.search-back{
  position: relative;
  text-align: center;
}
.search-back-name{
  color: black;
}
/*--new.html.erb--*/

/*--show.html.erb--*/
