// Place all the styles related to the foodstalls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*--index.html.erb--*/
.main{
  position: relative;
}
.home-title {
  position: absolute;
  top: 70px;
  left: 230px;
  font-size: 40px;
  color: black;
  padding-left: 100px;
  text-shadow: 0 0 20px rgba(252, 252, 252, 1);
}
.home-text h2{
  font-family: cursive;
}
dl.keyword{
  width: 350px;
  position:relative;
  background-color:#fff;
  border:1px solid #aaa;
  border-radius:6px;
  margin-left: 500px;
  margin-top: 200px;
  position: absolute;
  top: 200px;
  right: 590px;
}
dl.keyword dt{
  padding:3px;
}
dl.keyword dt input{
  width:70%;
  height:30px;
  line-height:30px;
  background:none;
  border:none;
}
dl.keyword dd{
  position:absolute;
  top:0px;
  right:0px;
  width:20%;
}
.keyword-btn{
  display:block;
  background:#5fad35;
  width:100%;
  height:36px;
  line-height:36px;
  border:none;
  border-radius: 0 6px 6px 0;
  color:#FFF;
}
.keyword-btn:hover {
  background:#228B22;
  bottom: 6px;
}
.keyword-bottom{
  margin-left: 450px;
  position: absolute;
  top: 460px;
  left: 45px;
  color: #FFF;
  border: solid 1px white;
}
.keyword-b{
  background:#5fad35;
  height:20px;
  line-height:20px;
  border:none;
  border-radius: 0 6px 6px 0;
  color:#FFF;
}
.home-text{
  margin-top: 100px;
}
.home-text-header{
  padding-left: 360px;
}
.home-text-a{
  padding-left: 260px;
}
.home-text-b{
  padding-left: 380px;
}
.home-description-title{
  padding-left: 600px;
  padding-top: 90px;
}
.home-description{
  display: flex;
  justify-content: space-around;
  padding-right: 160px;
}
.image-left{
  padding-top: 20px;
  width: 200px;
  height: 300px;
}
.image-center{
  padding-top: 20px;
  width: 200px;
  height: 300px;
}
.image-right{
  padding-top: 20px;
  width: 200px;
  height: 300px;
}
.home-ranking{
  padding-left: 600px;
  padding-top: 200px;
}
.ranking{
  display:flex;
  justify-content: space-around;
}
.image-tokyo{
  width: 150px;
  height: 150px;
}
/*--search.html.erb--*/
.list {
  border: solid 1px black;
  width: 400px;
  margin-left: 450px;
  background-color: cornsilk;
  text-align: center;
  display: flex;
}
.list-category{
  font-size: 15px;
   top: 12px;
}
.images{
  width: 110px;
  height: 150px;
}
.list-text{
 
}