@charset "UTF-8";

html{
  font-size: 100%;
}
body{
  font-family:"Yu Gothic Medium","游ゴシック体","ヒラギノ角Pro W3",sans-serif;
  line-height: 1.7;
  color:#432;
}
img{
  max-width: 100%;
}
a{
  text-decoration: none;
}
/*index.html.erb*/
.header_bar{
 display: flex;
 justify-content: space-between;
 background-color:white
}
.logo{
  width: 120px;
  height: 70px;
  margin-left: 100px;
}
.main-nav{
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 37px;
  list-style: none;
  margin-right: 100px;
}
.main-nav li{
  margin-left: 36px;
}
.main-nav a {
  color: #000;
  
}
.main-nav a hover{
color: #000;
}
.new-nav{
 font-weight: 900;
}
.menu-nav{
  font-weight: 900;
}

.user_nav {
  padding-bottom: 100%;
}
.mein{
width: 100%;
height: 500px;
margin-bottom: 150px;
}
.home-content{
  position: relative;
  top: 0;
  bottom: 500px;
}
.home-content h2{
  position: absolute;
  color:white;
  top: 0;
  bottom: 100px;
  right: 320px;
  font-size: 60px;
  text-shadow: 0 0 10px rgba(252, 252, 252, 0.9);
}
.home-content p{
  position: absolute;
  color: white;
  top: 150px;
  bottom: 400px;
  left: 220px;
  text-shadow: 0 0 20px rgba(252, 252, 252, 0.9);
}

.footer-contents{
  display: flex;
  justify-content: space-around;
}
.chill-details li {
  list-style: none;
}
.footer-link {
  color: #ce5f35;
}
.footer-content-head {
color: #432;
}
.footer-content-head1 {
  margin-left:85px;
}
.footer-content-head3{
  margin-left:45px;
}
.log {
  width: 120px;
  height: 90px;
  padding: 0 661px;
}
.field{
  padding: 0 661px;
}
.actions{
  padding: 0 661px;
}
.sign{
  width: 120px;
  height: 90px;
  padding: 0 661px;
}
.log-in{
  margin: 0 641px;
}
.search-bar-contents{
  position: absolute;
  padding-top: 300px;
}
.input-box{
  width: 800px;
  height: 30px;
  margin-left: 322px;
}
/*result.html.erb*/
.list{
  list-style: none;
}