@charset "UTF-8";

html{
  font-size: 100%;
}
body{
  font-family:"Yu Gothic Medium","游ゴシック体","ヒラギノ角Pro W3",sans-serif;
  line-height: 1.7;
  color:#432;
}
img{
  max-width: 100%;
}
a{
  text-decoration: none;
}
/*_header.html.erb(owners/shared)*/
.header{
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  opacity: 0.9;
}
.header_bar{
 position: relative;
 display: flex;
 left: 12px;
}
.logo{
  width: 120px;
  height: 70px;
  padding-left: 60px;
}
.main-nav{
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 40px;
  list-style: none;
  padding-right: 60px;
  margin-left: 900px;
}
.main-nav li{
  margin-left: 36px;
}
.main-nav a {
  color: #111111;
  text-shadow: -1px -2px 3px #ffffff;
}
.main-nav a hover{
color: #111111;
}
.new-nav {
 font-weight: 900;
}
.menu-nav{
  font-weight: 900;
}
.user_nav {
  padding-bottom: 100%;
}
.footer-contents{
  display: flex;
  justify-content: space-around;
}
.chill-details li {
  list-style: none;
}
.footer-link {
  color: #ce5f35;
}
.footer-content-head {
color: #432;
}
.footer-content-head1 {
  margin-left:85px;
}
.footer-content-head3{
  margin-left:45px;
}
.log {
  width: 120px;
  height: 90px;
  padding: 0 661px;
}
.field{
  padding: 0 661px;
}
.actions{
  padding: 0 661px;
}
.sign{
  width: 120px;
  height: 90px;
  padding: 0 661px;
}
.log-in{
  margin: 0 641px;
}
.search-bar-contents{
  position: absolute;
  padding-top: 300px;
}
.input-box{
  width: 800px;
  height: 30px;
  margin-left: 322px;
}
/*result.html.erb*/
.list{
  list-style: none;
}
